<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.todo.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/todo_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.base.BaseActivity" />
        <activity
            android:name=".ui.datepicker.DatePickerActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.crud.AddActivity" />
        <activity android:name=".ui.crud.WeekShowActivity" />
        <activity android:name=".ui.crud.ModifyActivity" />
        <activity android:name=".ui.datepicker.DayShowActivity" />
        <activity android:name=".ui.set.RingSettingActivity" />
        <activity
            android:name=".ui.today.TodayActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.thisweek.ThisWeekActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.today.TodayShowActivity" />
    </application>

</manifest>